* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contener {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  height: 228px;
  width: 100%;
  background: #212240;
  text-align: center;
  padding-top: 25px;
}
.title-website {
  color: #f0e448;
  font-family: "Monoton", sans-serif;
  font-size: 60px;
  font-weight: 300;
  padding-bottom: 20px;
}
.display-title {
  font-family: "Impact", sans-serif;
  color: #ffff;
  text-decoration: underline;
  font-size: 27px;
}

body {
  background-color: #546fe4;
  position: relative;
}

.conteneur-low {
  margin-top: 2rem;
  height: 157px;
  width: 100%;
  background: #212240;
  text-align: center;
}
.title-website-footer {
  padding: 0.2rem;
  color: #f0e448;
  font-family: "Monoton", sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}
.logo-contact {
  display: grid;
  grid-template-columns: 55% 40%;
  height: 85px;
}
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#root > div > div.conteneur-low > div > div.logo > a:nth-child(1) > i {
  color: white;
  font-size: 40px;
}
#root > div > div.conteneur-low > div > div.logo > a:nth-child(2) > i {
  color: white;
  font-size: 40px;
}
#root > div > div.conteneur-low > div > div.logo > a:nth-child(3) > i {
  color: white;
  font-size: 40px;
}
.about {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Impact", sans-serif;
  text-align: center;
  flex-direction: column;
  font-size: 2.7rem;
}
a {
  color: #ffff;
}
