* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #546fe4;
  position: relative;
}

a {
  color: #ffff;
}
body::before {
  content: "";
  position: absolute;
  left: 15%;
  width: 70%;
  background-color: black;
  z-index: -1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.border-img {
  box-shadow: 1px 1px 20px 8px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  .card {
    width: 33%;
    height: 25%;
    margin: 1rem;
    box-shadow: 1px 1px 20px 8px rgba(0, 0, 0, 0.47);
    margin: 1rem;
  }
  .borderimg {
    width: 100%;
    border-radius: 20px;
  }
  body::before {
    content: "";
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100vh;
    background-color: black;
    z-index: -1;
  }

  .menu-carousel {
    position: relative;
    justify-content: center;
    left: 15%;
  }

  .text-right-slide {
    color: #ffffff;
    background: black;
    float: right;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.5%, -50%);
    padding: 10px;
    width: 40%;
    height: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images-left-slide {
    width: 32%;
    max-width: 100%;
    padding: 35px 15px;
  }
  .film-original-title {
    width: 70%;
    background: #ffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: "Montserrat Alternates", sans-serif;
    padding: 5px;
  }

  .button-ticket {
    margin: 5px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 0.9rem;
    background: none;
    background: rgb(255, 255, 255);
    color: #000000;
    width: auto;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .border-img {
    width: 100%;
    border-radius: 20px;
  }

  body::before {
    content: "";
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: black;
    z-index: -1;
  }
}

.film-description {
  padding: 15px 7px;
  background: black;
  border-radius: 20px;
  color: #ffca16;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-family: "Montserrat Alternates", sans-serif;
}
@media screen and (min-width: 600px) {
  .film-description {
    font-size: 0.8rem;
    display: flex;
  }
  .container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
  }
}
@media screen and (min-width: 799px) {
  .card {
    width: 25%;
    height: 25%;
  }
  .images-left-slide {
    max-width: 50%;
    height: 400px;
  }
  .film-description {
    font-size: 0.8rem;
  }

  .menu-carousel {
    position: relative;
    justify-content: center;
    left: 15%;
  }
  .slider-container {
    max-height: 300px;
    width: 100%;
  }
  .text-right-slide {
    color: #f7f7f4;
    background: black;
    float: right;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.5%, -50%);
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images-left-slide {
    width: 27%;
    max-width: 100%;
    left: 20%;
    top: 45%;
  }
}
body::before {
  content: "";
  position: absolute;
  left: 15%;
  width: 70%;
  height: 100%;
  background-color: black;
  z-index: -1;
}
@media screen and (min-width: 1100px) {
  .film-description {
    font-size: 1rem;
  }
}
